
 /* changes the document text with this font-family */
 *{
     font-family: 'Raleway', sans-serif;
 }

 /* targets the overwatch logo and "verwatch.gg text */
 .navbar-title {
     color: white;
     font-size: 25px;
 }

 /* whenever the "overwatch.gg text is hover, this is tiggered */
 .navbar-title:hover{
     text-decoration: none;
     color:orange;
 }

 /* changes the navbar itself */
 .navbar{
     padding: 12px;
     border-radius: 1px;
 }
 
 /* targets the tabs div containing the "Hero Selection" and "About" text */
 .tabs{
     text-decoration: none;
     color:white;
 }

 /* the changes whenever the tabs text gets hovered on */
 .tabs:hover{
     text-decoration: none;
     color:orange;
 }

 /* the id of the "Hero Selection" text */
 #tab-selection{
     margin-left: 610px;
     font-size: 25px;
 }

 /* the id of the "About" text */
 #tab-about{
     margin-left: 20px;
     font-size: 25px;
 }


 /* the jumbrotron picture */
 .picture{
     margin-top: 10px;
     background-image: url("assets/img/overwatch-background-first-image.jpg");
     background-size: cover;
     border-radius: 0;
     height: 525px;
 }

 /* targets the div containing the "Search your favorite.." text */
 .headline{
     background-color: white;
     padding: 30px;
     border-radius: 4px;
     background-color: #FAFAFA;
 }

 /* targets the div that contains the "Hero Selection" text and button grid */
 .char-select{
   padding-top: 20px;
 }

 /* targets the "Hero-Selection" text in the char select div */
 .hero-selection-title{
     text-align: center;
 }

 /* targets the buttons that show the hero's name */
 .characters{
     margin: 1px;
 }

 /* targets the "Hero Selection" text */
 .headline-box{
     text-align: center;
 }

 /* targets the div containg the about info */
 .about-section{
     padding: 15px;
 }

 /* targets the "About our Project" text */
 #about{
     text-align: center;
     padding: 20px;
 }

 /* targets the icons used in the about section */
 .icon{
     text-align: center;
     padding-bottom: 20px; 
 }

 /* targets the div that contains the question text */
 .question{
     text-align: center;
 }

 /* targets the div that contains the descriptions used in the about section */
 .about-description{
     text-align: center;
     padding-top: 15px;
     padding-bottom: 15px; 
 }


 /* targets the videos div */
 #videos{
     margin-left: 60px;
 }

 /* targets the footer div */
 .footer{
     border: 2px solid black;
     border-bottom: none;
     padding: 10px;
     text-align: center;
 }


 /* changes the document text with this font-family */
 *{
     font-family: 'Raleway', sans-serif;
 }

 /* targets the overwatch logo and "verwatch.gg text */
 .navbar-title {
     color: white;
     font-size: 25px;
 }

 /* whenever the "overwatch.gg text is hover, this is tiggered */
 .navbar-title:hover{
     text-decoration: none;
     color:orange;
 }

 /* changes the navbar itself */
 .navbar{
     padding: 12px;
     border-radius: 1px;
 }
 
 /* targets the tabs div containing the "Hero Selection" and "About" text */
 .tabs{
     text-decoration: none;
     color:white;
 }

 /* the changes whenever the tabs text gets hovered on */
 .tabs:hover{
     text-decoration: none;
     color:orange;
 }

 /* the id of the "Hero Selection" text */
 #tab-selection{
     margin-left: 610px;
     font-size: 25px;
 }

 /* the id of the "About" text */
 #tab-about{
     margin-left: 20px;
     font-size: 25px;
 }


 /* the jumbrotron picture */
 .picture{
     margin-top: 10px;
     background-image: url("../img/overwatch-background-first-image.jpg");
     background-size: cover;
     border-radius: 0;
     height: 525px;
 }

 /* targets the div containing the "Search your favorite.." text */
 .headline{
     background-color: white;
     padding: 30px;
     border-radius: 4px;
     background-color: #FAFAFA;
 }

 /* targets the div that contains the "Hero Selection" text and button grid */
 .char-select{
   padding-top: 20px;
 }

 /* targets the "Hero-Selection" text in the char select div */
 .hero-selection-title{
     text-align: center;
 }

 /* targets the buttons that show the hero's name */
 .characters{
     margin: 1px;
 }

 /* targets the "Hero Selection" text */
 .headline-box{
     text-align: center;
 }

 /* targets the div containg the about info */
 .about-section{
     padding: 15px;
 }

 /* targets the "About our Project" text */
 #about{
     text-align: center;
     padding: 20px;
 }

 /* targets the icons used in the about section */
 .icon{
     text-align: center;
     padding-bottom: 20px; 
 }

 /* targets the div that contains the question text */
 .question{
     text-align: center;
 }

 /* targets the div that contains the descriptions used in the about section */
 .about-description{
     text-align: center;
     padding-top: 15px;
     padding-bottom: 15px; 
 }


 /* targets the videos div */
 #videos{
     margin-left: 60px;
 }

 /* targets the footer div */
 .footer{
     border: 2px solid black;
     border-bottom: none;
     padding: 10px;
     text-align: center;
 }

